body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-between;
    color: #f5f5f5; 
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background: url(/assets/Sithu_Aye_@_Euroblast_2016_58.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

header {
    
    justify-content: center;
}

header .navbar ul {
    display: inline-flex;
    width: 90%;
    max-width: 900px;
    padding: 1px;
    justify-content: center;
    font-size: 1.5em;
    list-style-type: none;
    margin: 0;
}

.navbar li {
    width: 100%;
    box-sizing: content-box;
    padding: 1% 2%;
    border-radius: 0px 0px 20px 20px;
}

.navbar a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #f5f5f5;
    text-shadow: #000000 0px 0px 4px;
}

li.activepage {
    background-color: #f5f5f5;
    box-shadow: #000000 10px 10px 4px;
}
li.activepage a{
    color: #000000;
    text-shadow: #000000 0px 0px 0px;
}
main {
    margin: 5%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 80px;
    justify-content:flex-start;
}

h1 {
    text-shadow: #000000 0px 0px 10px;
}

main.landing p {
    text-align: left;
}

main.landing img {
    border-radius: 4%;
    flex-grow 1;
}

.textbox p {
    text-align: left;
}

.inline-wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
}

.album {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 30px;
    color: #000088;
    margin: 10px;
    box-shadow: #8080f5 10px 10px 25px;
    text-align: center;
    min-width: 200px;
    max-width: 250px;    
}

.album img {
    width: 80%;
    box-shadow: #000080 10px 10px 10px;
}

.album li{
    text-align: left;
}

.album h2, h3 {
    text-align: center;
}

main.bio {
    justify-items: center;
    align-items: flex-start;
    
} 

.bio div {
    max-width: 250px;
}

.bio div p {
    text-align: left;
}


.bio img {
    margin: auto;
    width: 80%;
    border-radius: 5%;
}

footer {
    align-self: flex-end;
    font-size: 0.8em;
    margin: 0;
    max-width: 100vw;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 650px){
    main {
        display: flex;
        flex-direction: row ;
    }

    main.landing {
        padding: 3%;
        max-width: 1600px;  
    }
    
    .landing img { 
        border-radius: 10px;
        
        margin: 2%;
        flex-grow: 1;
    }

    div.text-box {
        
        flex-grow: 1;
        max-width: 450px;
        margin: 2%;
    }

    .textbox p {
        font-size: 1.25em;
    }
}
